<div>
    <form class="employee-wrapper">
        <div class="employee-form">
            <h3>Employee Form</h3>
            <div class="inputs">
                <section>
                    <input class="input id" type="text" placeholder="Id">
                    <input class="input name" type="text" placeholder="Name">
                </section>
                <section>
                    <input class="input role" type="text" placeholder="Role">
                    <input class="input email" type="email" placeholder="Email">    
                </section>
                <section class="gender">
                    <span class="gender-field">Gender</span>
                    <input class="gender-field" type="radio"><label>Male</label>
                    <input class="gender-field" type="radio"><label>Female</label>
                    <input class="gender-field" type="radio"><label>Others</label>
                </section>
                <section>
                    <input class="input dob" type="text" placeholder="Date of birth">
                    <input class="input phone" type="text" placeholder="Phone No">
                </section>
                <section>
                    <textarea class="address" rows="4" cols="53" placeholder="address"></textarea>
                </section>
    
                
            </div>
        </div>
        <button (click)="close()">Close</button>
    
    </form>
</div>
